
section{z-index: 9;}
.banner{
	height: 638px;overflow: hidden;
}
.banner .big-img{
    height: 100%;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
}
.banner .main-center{
	height: 180px;
	padding-top: 396px;
}
.banner .main-center .main-txt{
	width: 642px;height: 100%;
}
.banner .main-center .main-txt{
	background:rgba(128,4,8,0.8) url(../images/banner-r-white.png) no-repeat 598px 120px;
	background-size: 18px auto;
}
.banner .main-center .main-txt:hover{
	background:rgba(128,4,8,0.8) url(../images/banner-r-pink.png) no-repeat 598px 120px;
	background-size: 18px auto;
}
.banner .main-center .main-txt h2{
	font-size: 32px;
	font-family: "SourceHanSansCN-Medium";
	padding-left: 42px;
    padding-top: 21px;
    letter-spacing: 1px;
    line-height: 36px;
    width: 430px;
    color: #fff;
}
.banner .main-center .main-txt p{
	width: 424px;padding-left: 40px;
    margin-top: 24px;
    font-size: 13px;    
    color: #fff;
    line-height: 22px;
}


.banner .cover-text{
	bottom:60px;left:0;
	padding:16px 24px;
	width: 590px;
	height: 146px;
	background: rgba(128,4,8,0.8);
}
.banner .cover-text a h2{
	font-size: 30px;
	width: 438px;
	line-height: 40px;
	margin-bottom: 16px;
	color: #fff;
}
.banner .cover-text a p{
	font-size: 14px;width: 438px;
	line-height: 20px;	color: #fff;
}
.banner .cover-text img{
	width: 20px;
	bottom: 16px;
	right: 26px;
}

.focus-news .tit{
	line-height: 40px;
	margin:46px 0;
}
.focus-news .tit .focus{
	font-weight: 900;
	margin-right: 76px;
	font-size: 28px;
	color: #666;
}
.focus-news .tit .focus.active{
	color: #800408;
}
.focus-news .tit a.active{
	color: #800408;
    font-family: "SourceHanSansCN-Bold";
}
.focus-news .tit a{
	margin-right: 46px;
	font-size: 20px;
	color: #666;
    font-family: "SourceHanSansCN-Bold";
}
.focus-news .tit ul{}
.focus-news-left-right{
	height: 360px;
	overflow: hidden;
}
.focus-news-left-right .tabs-main{display: none;}


.focus-news .focus-news-left{
	width: 498px;
}
.focus-news .img-contain{
	border-radius: 0;
}
.focus-news .focus-news-left dl{
	margin-bottom: 36px;
}
.focus-news .focus-news-left dl dt{
	width: 248px;
	height: 146px;
}
.focus-news .focus-news-left dl dd{
	width: 224px;
}
.focus-news .focus-news-left dl dd h2{
	height: 50px;
	line-height: 24px;
	font-size: 17px;
	overflow: hidden;
	font-family: "SourceHanSansCN-Bold";
}
.focus-news .focus-news-left dl dd h2:hover,
.focus-news .focus-news-right dl dd h2:hover,
.notice .notice-main .notice-main-left h2:hover,
header .key-words li:hover a{
	color: #8a8c92;
}

.focus-news .focus-news-left dl dd p{
	color: #808080;
	font-size: 10px;
    font-family: "SourceHanSansCN-Medium";
}
.focus-news .focus-news-left dl dd div{
	height: 56px;
	line-height: 20px;
	overflow: hidden;
	margin: 8px 0 20px;
	color: #808080;
	font-size: 13px;
	font-family: "SourceHanSansCN-Medium";
}

.focus-news .focus-news-right{
	width: 722px;
}
.focus-news .focus-news-right a{float: left;margin-right: 80px;margin-bottom: 44px;}
.focus-news .focus-news-right dl{
	float: left;
}
.focus-news .focus-news-right a:nth-of-type(even){
	margin:0;
}
.focus-news .focus-news-right dl dt{
	margin-right: 22px;
	width: 84px;
	height: 80px;
}
.focus-news .focus-news-right dl dd h2{
	width: 210px;
	height: 46px;
	margin-bottom: 22px;
	font-size: 17px;
	line-height: 22px;
    font-family: "SourceHanSansCN-Bold";
	overflow: hidden;
}
.focus-news .focus-news-right dl dd p{
	color: #808080;
    font-size: 10px;
    font-family: "SourceHanSansCN-Medium";
}


.mounth-news{
	width: 100%;
	height: 279px;
	background-color: #eef3fa;
    margin:46px 0 34px;
}
.mounth-news .main-center{height: 100%;}
.mounth-news .main-center .mounth-news-one{
    width: 408px;
	float: left;
	padding-top: 80px;
}
.mounth-news .main-center .mounth-news-one:nth-of-type(2) {
    margin: 0 18px;
}
.mounth-news .main-center .mounth-news-one .date{
	width: 84px;
	height: 108px;
    background-color: #fff;
	text-align: center;
	border-radius: 2px;
}
.mounth-news .main-center .mounth-news-one .date span{
	color: #800408;
	display: block;
	font-size: 28px;
	font-family: "SourceHanSansCN-Bold";
	line-height: 50px;
}
.mounth-news .main-center .mounth-news-one .date i{
	color: #808080;
	display: block;
	margin-top: 30px;
	font-family: "SourceHanSansCN-Medium";
	font-size: 14px;
}
.mounth-news .main-center .mounth-news-one .text{
	width: 256px;
	margin-left: 24px;
	font-size: 14px;
	color: #000;
	line-height: 24px;
}
.mounth-news .main-center .mounth-news-one h2{
	margin-bottom: 16px;
	font-family: "SourceHanSansCN-Bold";
	font-size:17px;
}
.mounth-news .main-center .mounth-news-one p{
	color: #808080;
	font-size: 14px;
	line-height: 24px;
	max-height: 76px;
	font-family: "SourceHanSansCN-Medium";
	overflow: hidden;
}

.character-project{height:100%}
.character-special-one{
	width: 408px;height:540px;
	overflow: hidden;
}
.character-special-one .swiper-container-horizontal{height:378px;}
.character-special-one:nth-of-type(2){
	margin:0 18px;
}
.character-special-one .swiper-pagination01,
.character-special-one .swiper-pagination02,
.character-special-one .swiper-pagination03{
	bottom: 178px!important;
    text-align: right;
    z-index: 10;    padding-right: 16px;
    box-sizing: border-box;
}
.character-special-one .swiper-pagination-bullets .swiper-pagination-bullet{
	background-color: #fff;
	opacity: 1;
}
.character-special-one .swiper-pagination-bullets .swiper-pagination-bullet-active {
    opacity: 1;
    background: #800408;
}

.character-special-one a.mask{
	opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	background:rgba(1,1,1,0.3);
	width: 100%;
	height: 100%;
	top:0;right: 0;
	text-align: center;


}

.character-special-one dt:hover a.mask{
	opacity: 1;
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
	cursor: pointer;
	// transition:opcity 3.5s ease-in 1.1s;
	// -webkit-transform: scale(1.1);
 //  	transform: scale(1.1);
}

.character-special-one a.mask i{
	display: block;
	width: 53px;
	height: 53px;
	position: absolute;
	top:80px;left: 0;right: 0;margin-right: auto;margin-left: auto;
}
.character-special-one.video-main a.mask i{
	background: url(../images/play.png) no-repeat center;
}
.character-special-one dt{
	overflow: hidden;
	border-radius: 2px;
	overflow: hidden;
}
.character-special-one dt img{height: 100%;}
// .character-special-one .img-contain{height: 100%;}
.character-special-one .img-contain:hover{cursor: pointer;}
.character-special-one .img-contain img{
	border-radius: 2px;
  // -webkit-transform: translateZ(0);
  // transform: translateZ(0);
  // box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  // -webkit-backface-visibility: hidden;
  // backface-visibility: hidden;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-transition-duration: 0.3s;
  // transition-duration: 0.3s;
  // -webkit-transition-property: transform;
  // transition-property: transform;
}
.character-special-one .img-contain:hover>img{
	// -webkit-transform: scale(1.1);
  // transform: scale(1.1);
	// transform: scale(1.05, 1.05);
	// -ms-transform: scale(1.05, 1.05);
	// -moz-transform: scale(1.05, 1.05);
	// -webkit-transform: scale(1.05, 1.05);
	// -o-transform: scale(1.05, 1.05);
	// transition: transform 0.6s ease 0s;
	// -ms-transition: transform 0.6s ease 0s;
	// -moz-transition: transform 0.6s ease 0s;
	// -webkit-transition: transform 0.6s ease 0s;
	// -o-transition: transform 0.6s ease 0s;
}

// .hvr-grow {
// }
// .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
//   -webkit-transform: scale(1.1);
//   transform: scale(1.1);
//   background: red!important;
// }



.character-special-one dl{
	width: 408px;
	opacity: 0;
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
}
.character-special-one .swiper-slide-active dl{
	opacity: 1;
}
.character-special-one dl dt{width: 408px;height: 216px;}
.character-special-one dl dd a{    
	color: #333;
    display: block;
    font-size: 22px;
    line-height: 80px;
    padding-top: 4px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "SourceHanSansCN-Bold";
}
.character-special-one dl dd a:hover{
	color: #990000!important;
}
.character-special-one dl dd .sub-tit{
    color: #808080;
    font-size: 15px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    // margin-bottom:32px;
}
.character-special-one .more{
	font-size: 13px;
	color: #666;
	font-family: "SourceHanSansCN-Medium";
}
.character-special-one .more:hover{
	color: #800408;
}
.character-special-one .more img{
	width: 6px;
	margin-right: 14px;
}


.notice .notice-main .notice-main-left{
	width: 404px;
	height: 310px;
	overflow: hidden;
    margin-top: -18px;
}
.notice .notice-main .notice-main-left .swiper-container-notice{height: 100%}
.notice .notice-main .notice-main-left li{
	border-bottom: 1px solid #e6e6e6;
	padding: 22px 0;
	box-sizing: border-box;
}
.notice .notice-main .notice-main-left h2{width:294px;float: left;font-size: 16px;color: #000;line-height: 24px;height: 48px;overflow: hidden;font-family: "SourceHanSansCN-Medium";}
.notice .notice-main .notice-main-left p{width:102px;float: right;text-align: right;font-size: 14px;color: #858585;}
.notice .notice-main .notice-main-right{
	width: 834px;
}
.notice .notice-main .notice-main-right a{display: block;    width: 404px;float: left;}
.notice .notice-main .notice-main-right a:last-child{float: right;}
.notice .notice-main .notice-main-right dl{height: 186px;width: 402px;background-color: #eef3fa;border:1px solid #eef3fa;}
.notice .notice-main .notice-main-right dl dt{
	margin-left: -1px;margin-top: -1px;
}
.notice .notice-main .notice-main-right a:hover dl{background-color: #fff;border:1px solid #eef3fa;}
.notice .notice-main .notice-main-right dl .img-contain{width: 188px;height: 188px;}
.notice .notice-main .notice-main-right dl dd{
	width: 162px;
	margin-left:22px;
}
.notice .notice-main .notice-main-right dl dd .img02{display: none;}
.notice .notice-main .notice-main-right a:hover .img02{
	display: block;
}
.notice .notice-main .notice-main-right dl dd h2{
	height: 64px;
	padding-top:10px;
	font-size: 22px;
	line-height: 30px;
	color:#333;
	overflow: hidden;
	font-family: "SourceHanSansCN-Bold";
}
.notice .notice-main .notice-main-right dl dd img{
	width: 16px;
	right: 24px;
	bottom: 16px;
}





/*二级导航*/
.secondNav{
	width: 100%;
	height: 51px;
	background-color: #333;
	box-sizing: border-box;
	line-height: 49px;
	border: 1px solid #333;
	position: fixed;
	bottom:0;
	z-index: 999;
}
.secondNav ul li{
	float: left;
	width: 188px;
	font-size: 16px;
	position: relative;
}
.secondNav ul li a{
	display: block;
}
.secondNav ul li .right-more{
	position: absolute;
	width:5px ;
	height: 10px;
	background:url(../images/r.png) no-repeat center;
	background-size: 5px 10px;
	top:20px;
	right: 80px;
}

.secondNav a{
	color: #fff;
}
.secondNav .right-tips{
	top: 0;right: 0;
	background-color: #990000;
	padding: 0 52px;
}
.secondNav .right-tips a:first-child{
	margin-right: 22px;
}

footer{
	margin-top:280px;
}