.one-right .one-right-part .index{font-size: 22px;font-family: "SourceHanSansCN-Bold";    border-bottom: 1px solid #e6e6e6;
    line-height: 54px;margin-bottom: 20px;}
.one-right .search-teacher .search{width: 618px;height: 48px;border:1px solid #cecece;}
.one-right .search-teacher .search input{height: 48px;}
.one-right .search-teacher .search img {
    top: 11px;
    right: 12px;
    width: 24px;
}
.main-all{
	margin-bottom: 146px;
}
.search-list{
	height: 80px;
	line-height: 70px;
	font-size: 17px;
}
.search-list a{
	color: #800408;
	font-family: "SourceHanSansCN-Medium";
	margin-right: 10px;
}
.one-right-part{margin-bottom: 60px;}
.one-right-part p{
	line-height: 44px;
	font-size: 17px;
}
.one-right-part p span{display: inline-block;font-family: "SourceHanSansCN-Medium";}
.one-right-part p span:nth-of-type(1){width: 326px;}
.one-right-part p span:nth-of-type(2){width: 400px;}
.one-right-part p span:nth-of-type(3){width: 200px;text-align: right;float: right;}